ion-content{
    --ion-background-color:#e7eff6;
    --text-color: #FFFFFF;
}

.new-background-color{
    --color: #e7eff6;
    --background: #2A4D69;
}

.my-label {
    font-size: 3em;
  }

ion-tab-bar{
    --color:#e7eff6;
}

ion-tab-button{
    --color:#555555;
    --color-focused:#4B86B4;
    --color-selected:#63ACE5;
}