ion-content{
    --ion-background-color:#e7eff6;
}

.new-background-color{
    --color: "e7eff6";
    --background: #2A4D69;
}

.new-background-color-1{
    --background: #adcbe3;
}

.new-background-color-2{
    --background: #e7eff6;
}

.new-background-color-3{
    --background: #81bbee;
}